<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Whisky Log{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" href="{% url 'whisky_list' %}">
            🥃 Whisky Log
        </a>

        <div class="ms-auto">

            <a href="{% url 'whisky_create' %}" class="btn btn-success">

                + 新規登録

            </a>

        </div>

    </div>

</nav>

<div class="container mt-5">

    {% block content %}
    {% endblock %}

</div>

</body>
</html>